.appbar {
  z-index: 1400 !important;
  background-color: white !important;
  border-bottom: 2px solid whitesmoke;
}
.topbar_toolbar {
  justify-content: space-between;
}
.brandName {
  font-family: Bebas Neue !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}
svg {
  color: black !important;
}
.sidebar {
  box-shadow: none !important;
}
.menuList {
  width: 290px;
}
.MenuText span {
  font-family: Bebas Neue !important;
  font-size: 18px;
  font-weight: 500 !important;
  color: black !important;
}
